
<h1 class="cart-heading">order item</h1>

<!-- <div id="cartdiv" style="width: 100%;">
  <button nz-button nzType="primary" (click)="onButtonClickproduct()" id="cartbutton">product</button>
</div> -->
    <div class="card-container">
      <ng-container *ngFor="let item of productdata; let i = index">
        <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting,]">
          <nz-card-meta nzTitle="{{item.product_name }}" nzDescription="{{item.product_discretion}}"></nz-card-meta>
          <nz-card-meta nzTitle="product price:-{{item.product_price  | currency}}"></nz-card-meta>
          <nz-card-meta nzTitle="quantity:-{{item.product_quantity}}"></nz-card-meta>
          <nz-card-meta nzTitle=" total amount:-{{item.product_total  | currency}}"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="{{item.product_image }}" />
          <!-- <input type="number" [(ngModel)]="item.quantity" placeholder="Quantity"> -->
        </ng-template>
        <ng-template #actionSetting>
          <!-- <button nz-button nzType="primary" (click)="addtocart(item)">Add to Cart</button> -->
        </ng-template>
      </ng-container>
    </div>



    
