<nz-layout class="app-layout">
  
  <nz-layout>
    <nz-header>
      
      <div class="app-header"><ul class="inline-list">
        <li><a href="welcome">product</a></li>
        <li><a href="cart">cart</a></li>
    </ul>
        <!-- <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
            
        </span> -->
        
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
