
<!-- <button nz-button nzType="primary" (click)="orderitemview()" id="cartbutton">orderditem</button>
<div id="cartdiv" style="width: 100%;">
    <button nz-button nzType="primary" (click)="onButtonClickproduct()" id="cartbutton">product</button>
 </div> -->

 <h1 class="cart-heading">Cart page</h1>
 
 <div class="card-container">
   <ng-container *ngFor="let item of productdata; let i = index">
     <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting,]">
       <nz-card-meta nzTitle="{{item.product_name }}" nzDescription="{{item.product_discretion}}"></nz-card-meta>
       <nz-card-meta nzTitle="product  price,{{item.product_price	 | currency:'INR'}}"></nz-card-meta>
       <nz-card-meta nzTitle="Qty,{{item.product_quantity}}"></nz-card-meta>
       <nz-card-meta nzTitle="Total,{{item.product_total | currency:'INR'}}"></nz-card-meta>
     </nz-card>
     <ng-template #coverTemplate>
       <img alt="example" src="{{item.product_image }}" />
       <!-- <input type="number" [(ngModel)]="item.quantity" placeholder="Quantity"> -->
     </ng-template>
     <ng-template #actionSetting>
      
     </ng-template>
     
   </ng-container>

 </div>

 <div class="additional-info">
  <h2>Total cart amount </h2>
  <p>{{cartsum}}</p>
  <button nz-button nzType="primary" (click)="addressform(cartsum)">buy now</button>
</div>
 